{{!-- render homepage header --}}
<header class="display-flex p-2">
    <div class="tech-blog">The Tech Blog</div>
</header>

{{!-- homepage shows preview of all blog posts;
loop over each object in the blogposts array --}}
{{#each blogposts as |blogpost| }} 
<div class="row mb-1 mt-1 blogpost">
    <div class="blogHeader justify-content-between">
        <div>{{blogpost.title}}</div>
        <div>Posted by {{blogpost.user_id}} on {{format_date blogpost.dateCreated}}</div>
    </div>
    <div class="post-content">
        <div>{{blogpost.content}}</div>
    </div>
    {{!-- show number of comments --}}
    <div class="post-comments justify-content-start"></div>
        <div>{{blogpost.comment.length}} Comments</div>
    </div>

</div>
{{/each}}

