{{!-- dashboard shows all of the user's posts, and the option to create a new post --}}

{{!-- ------------ refactor code from homepage ---------- --}}
{{#if blogposts.length}}

    {{#each blogposts as |blogpost|}} 
    <div class="row mb-3 mt-1 blogpost">
        <div class="col-md-12 d-flex post-preview justify-content-between">
            <a href="/posts/{{blogpost.id}}">{{blogpost.title}}</a>
            <div>Posted by {{blogpost.user.username}} on {{format_date blogpost.dateCreated}}</div>
        </div>

    </div>
    {{/each}}
{{!-- {{else}} --}}
{{!-- <div class="no-posts text-center align-middle mb-10">Click "+ New Post" to add a blog post here.</div> --}}

{{/if}}

<div class="d-grid gap-3 mt-3 mb-3 new-post-btn">
    <button class="btn btn-dark w-100" type="submit">+ New Post</button>
</div>



{{!-- -------------------scripts---------------------- --}}
<script src="/js/dashboard.js"></script>

{{!-- script to render new post view --}}
<script src="/js/new-post.js"></script>

{{#if logged_in}}
        <script src="/js/logout.js"></script>
{{/if}}