{{!-- dashboard shows all of the user's posts, and the 
option to create a new post --}}

{{!-- ------------ refactor code from homepage ---------- --}}
{{#if blogposts.length}}

    {{#each blogposts as |blogpost|}} 
    <div class="d-grid gap-3 mt-3 mb-3 dash-post"> <!-- removed blogpost class -->
        <button class="btn btn-secondary w-100 post-preview d-flex justify-content-between" data-id="{{blogpost.id}}" data-title="{{blogpost.title}}" data-content="{{blogpost.content}}" type="submit">
            <span class="update-post-link">{{blogpost.title}}</span>
            <span>Posted on {{format_date blogpost.dateCreated}}</span>
        </button>

    </div>
    {{/each}}

{{/if}}

<div class="d-grid gap-3 mt-3 mb-3 fixed-bottom new-post-btn">
    <button class="btn btn-dark w-100 add-new" type="submit">+ New Post</button>
</div>


{{!-- -------------------scripts---------------------- --}}
<script src="/js/dashboard.js"></script>


