{{!-- Bootstrap form --}}
<div class="row d-flex mt-1 edit-post">
    <div class="col-12 d-flex post-header">
        <h3 class="p-1">Edit Post</h3>
    </div>

    <div class="col-12 mb-3 mt-3">
        <form class="form edit-post-form" id="edit-post-form" data-id="{{blogpost.id}}">
            <div class="form-group">
                <label for="post-title" class="form-label">Title:</label>
                <input class="form-input form-control" type="text" id="post-title" name="post-title" value="{{blogpost.title}}"/>
                {{!-- <input class="form-input form-control" type="text" id="post-title" name="post-title"/> --}}
            </div>
            <div class="form-group">
                <label for="post-content" class="form-label">Content:</label>
                <textarea class="form-input form-control" rows="5" id="post-content" name="post-content">{{blogpost.content}}</textarea>
                {{!-- <textarea class="form-input form-control" type="text" id="post-content" name="post-content"></textarea> --}}
            </div>
            <div class="d-grid gap-3 mb-3">
                <button class="btn btn-secondary w-100 update-btn" type="submit" data-id="{{blogpost.id}}">Update Post</button>
            </div>
            <div class="d-grid gap-3 mb-3">
                <button class="btn btn-danger w-100 delete-btn" type="submit" data-id="{{blogpost.id}}">Delete</button>
            </div>
        </form>

    </div>

</div>

<div class="d-grid gap-3 mt-3 mb-3 fixed-bottom new-post-btn">
    <button class="btn btn-dark w-100 add-new" type="submit">+ New Post</button>
</div>



<script src="/js/dashboard.js"></script>
{{!-- script to handle update --}}
<script src="/js/update-post.js"></script>
{{!-- script to handle deletion --}}
<script src="/js/delete-post.js"></script>