<div class="row justify-content-end mt-3 mb-3 current-user"></div>
    <div>Logged in as: {{name}}</div>
</div>

<div class="row mt-1">
    
    {{!-- show title and content fields --}}
     <h3 class="post-header">Edit Post</h3>
     <form class="form edit-post-form"></form>
        <div class="form-group">
            <label for="post-title">Title:</label>
            <input class="form-input" type="text" id="post-title" name="post-title" value="{{title}}"/>
        </div>
        <div class="form-group"></div>
            <label for="post-content">Content:</label>
            <input class="form-input" type="text" id="post-content" name="post-content" value="{{content}}"/>
        </div>
    </form>
    {{!--  update post  --}}
    <div class="d-grid gap-3 mb-3 update-btn">
        <button class="btn btn-secondary w-100" type="submit" data-id="{{id}}" >Update Post</button>
    </div>
    {{!--  delete post  --}}
    <div class="d-grid gap-3 mb-3 delete-btn">
        <button class="btn btn-secondary w-100" type="submit" data-id="{{id}}">Delete</button>
    </div>

</div>

{{!-- script to handle update --}}
<script src="/js/edit-post.js"></script>
{{!-- script to handle deletion --}}
<script src="/js/delete-post.js"></script>